@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    /* primary */
    --darkCyan : hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* neutral */
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* typography */
    --fontSizeParagraph: 14px;
    --fontFamilyFraunces:"Fraunces", serif;
    --fontFamilyMontserrat: "Montserrat", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--fontSizeParagraph);
    font-family: var(--fontFamilyMontserrat);
    background-color: var(--cream);
}

.flexContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.leftSection{
    height: 100%;
    width: 100%;
}

.rightSection{
    height: 90%;
    margin-left: 30px;
    margin-right: 30px;
}

.spacingLetter{
    letter-spacing: 5px;
    color: var(--darkGrayishBlue);
}

h1{
    font-family: var(--fontFamilyFraunces);
    margin-top: 15px;
    font-size: 2rem;
    margin-bottom: 15px;
}
.leftSection img{
    height: 100%;
    width: fit-content;
}

.price{
    position: relative;
}

.coloring{
    color: var(--veryDarkBlue);
}

.greenPrice{
    color: var(--darkCyan);
    font-weight: 800;
    font-size: 2rem;
    font-family: var(--fontFamilyFraunces);
    margin-top: 30px;
}

.originalPrice{
    position: absolute;
    top: 0;
    left: 150px;
    text-decoration-line: line-through;
}

.button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--darkCyan);
    border: none;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button:hover{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 25%);
    border: none;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 576px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: 20px auto;
        padding-bottom: 20px;
    }

    .leftSection{
        width: 100%;
    }
    .leftSection img{
        width: 100%;
    }
    .attribution{
        position: absolute;
        bottom: -30%;
        left: 50%;
        transform: translateX(-50%);
    }
    
}